/*body {
    &.responsive-layout-wide {
        #banner {
            display: table;
            .site-name-logotype {
                display: table-cell;
                vertical-align: middle;
                width: 33%;
                float:none;
            }
            .site-name-editorial-section {
                display: table-cell;
                vertical-align: middle;
                text-align:left;
                width: 33%;
                float:none;
                p {
                    margin:0;
                    font-size: $h3-font-size; //for older browsers
                    font-size: 2vw;
                }
            }
            #___gcse_0 {
                float:none;
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                width: 33%;
                .gsc-control-cse {
                    min-width: 300px;
                    margin: .5em;
                }
            }
        }
    }
}*/