/**
 * _branding.scss
 * This covers styles for the branding region that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
$breakpoint-tabletop: $breakpoint-wide + ($breakpoint-wide - $breakpoint-normal);
body {
    #banner {
        width: 100%;
        .site-name-logotype {
            color: #2A3A89;
            font-family: "Times New Roman", serif;
            //min-width: 400px;
            vertical-align: middle;
            float: left;
            margin: 0 auto;
            min-width: 350px;
            min-width: 25em;
            @media (min-width: $breakpoint-normal) {
                display:inline-block;
            }
            #nnlm_logo {
                display: table-cell;
                height: 12vw;
                @media (min-width: $breakpoint-narrow) {
                    height: 55px;
                    width: 110px;
                }
                float: left;
                vertical-align: middle;
            }
            .site-name-logotype-top {
                display: table-row;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                font-size: 3.3vw;
                @media (min-width: $breakpoint-narrow) {
                    font-size: 14.4px;
                }
                letter-spacing: 1.433px;
                vertical-align: middle;
            }
            .site-slogan-divider {
                font-style: italic;
                margin-right: 3px;
            }
            .site-name-logotype-bottom {
                display: table-row;
                font-size: 6vw;
                @media (min-width: $breakpoint-narrow) {
                    font-size: 24px;
                }
                vertical-align: middle;
                margin-bottom: 0;
                //omega override
           
            }
        }
        .site-name-editorial-section {
            display: block;
            text-align:center;
            @media (max-width: $breakpoint-narrow-normal) {
                clear: both;
            }
            @media (min-width: $breakpoint-normal) and (max-width: $breakpoint-tabletop) {
                text-align:right;
                min-width: 350px;
            }
            @media (min-width: $breakpoint-tabletop) {
                display:inline-block;
                margin-top: 1em;
                padding: 0 1em;
                min-width: 350px;
            }
            p {
                // might need to be adjusted if you make rear elements wider
                background: transparent;
                font-size: 5vw;
                @media (min-width: $breakpoint-narrow) {
                    font-size: $h1-font-size;
                }
                margin: 0 auto;
                padding: 0;
                //for older browsers
                a {
                    color: $primary-color;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    &:visited {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    #zone-branding {
        table {
            .gsib_a, .gsib_b, th, td {
                padding: 0;
            }
        }
        background-color: transparent;
        .block {
            float: right;
            .block-title {
                display: none;
            }
        }
        .site-region-branding {
            .site-region-branding-label {
                color: $primary-color;
                font-family: serif;
                font-size: $h1-font-size;
            }
        }
        #region-branding {
            background-color: transparent;
        }
    }
}