/**
 * _content.scss
 * This covers styles for the main content region that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
body {
    #zone-content {
        margin-top: 10px;
        #breadcrumb {
            overflow: hidden;
            h2.element-invisible {
                width: 100%;
            }
            div.breadcrumb {
                float: left;
                position: relative;
                display: block;
                font-weight: bold;
                border-radius: 0 1em 1em 0;
                a {
                    font-weight: normal;
                }
            }
        }
        .region-content {
            ul, ol {
                list-style-position: outside;
                margin-left: 1em;
            }
            .region-content-inner {
                min-height: 10em;
                background-color: white;
                padding: .5em;
                border: 1px solid #eee;
            }
            //modification of revisioning ux to hide dysfunctional publish button
            figcaption, .field-name-field-caption, .dnd-legend-wrapper {
                text-align: center;
                font-style: italic;
                border: 0;
                background-color: #eee;
                color: #333;
            }
            .node {
                img {
                    vertical-align: middle;
                    max-width: 768px;
                }
                p {
                    margin-top: 1em;
                    margin-bottom: 1em;
                }
                ol, ul {
                    margin-left: 1em;
                }
                ul {
                    list-style-type: disc;
                    ul {
                        list-style-type: circle;
                    }
                }
                .toc{
                    ul{
                        list-style-type: none;
                    }
                }
                .field-items {
                    .field-item {
                        display: block;
                    }
                }
                .field-name-field-origin-url {
                    display: none;
                    float: right;
                    background-color: #eee;
                    border-radius: 3px;
                    padding: 3px;
                }
                &.node-unpublished {
                    .field-name-field-origin-url {
                        display: block;
                    }
                }
            }           
            section.block{
                display: inline-block;
                .block-title{
                    text-align: center;
                }
            }
        }
        .region-sidebar-first + .region-content,
        .region-sidebar-second + .region_content {
            //only applies to pages that have a sidebar
            .node img {
                max-width: 640px;
            }
        }
        .revisioning-ux-buttons {
            form#revisioning-ux-publish {
                #edit-submit {
                    display: none;
                }
            }
        }
        //table of contents provided by tableofcontents module
        .toc {
            .toc-number {
                margin-left: 0;
            }
        }
    }
}

body.responsive-layout-mobile {
    #zone-content {
        .region-content {
            .region-inner{
                border-width: 0;
            }
            margin-top: 1em;
            img {
                max-width: 320px;
            }
            min-height: 10em;
            background-color: white;
            .content {
                padding: .5em;
            }
        }
        .region-sidebar-first + .region-content,
        .region-sidebar-second + .region_content {
            //only applies to pages that have a sidebar
            .node img {
                max-width: 380px;
            }
        }
        .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6,
        .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,
        .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18,
        .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
            max-width: 100%;
        }
    }
}