@import "mixins";
.view-course-home-page-sidebar-content{
	@include picture_frame('frame-noreflect');
	background-color: white;
	padding: 1em;
	margin: 1em;
	.views-label{
		font-weight: bold;
	}
	.scald-file-icon{
		max-width: 16px;
	}
}