/** 
 * Google Custom Search control elements
 */
body {
    .site-search {
        @media (max-width: $breakpoint-normal) {
            display: block;
            clear: both;
        }
        @media (min-width: $breakpoint-normal) and (max-width: $breakpoint-tabletop) {
            display: inline-block;
            width: 50%;
            max-width: 350px;
            float:right;
        }
        @media (min-width: $breakpoint-tabletop) {
            display: inline-block;
            margin-top: 1em;
            float: right;
        }
        > form {
            background-color: $primary-color;
            @media (min-width: $breakpoint-normal) {
                border-radius: .5em;
            }
            padding: .5em;
            table {
                width: 100%;
            }
            input[type=text] {
                background: url(http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif) 0% 50% no-repeat rgb(255, 255, 255);
                &:focus {
                    background-image: none;
                }
                @media (max-width: $breakpoint-normal) {
                    width: 80%;
                }
                @media (min-width: $breakpoint-normal) {
                    min-width: 250px;
                }
                @media (min-width: $breakpoint-tabletop) {
                    width: 100%;
                }
            }
            td {
                background-color: transparent;
            }
        }
    }
    table.gsc-branding td, table.gsc-branding, table.gcsc-branding td, table.gcsc-branding {
        vertical-align: bottom;
    }
    .gsc-orderby {
        .gsc-orderby-label, .gsc-option-menu-container, .gsc-option-menu-container.gsc-selected-option-container {
            //Google override
            font-size: $base-font-size * 0.8;
            font-family: $header-font;
        }
    }
    .gs-result, .gsc-results {
        .gs-visibleUrl {
            font-size: $base-font-size * 0.8;
        }
        .gs-per-result-labels {
            //Google override
            display: none;
        }
        .gsc-cursor {
            .gsc-cursor-current-page {
                //Google override
                background-color: #eee;
                border: 1px solid $primary-color;
                border-weight: 1px 0;
                font-weight: bold;
                text-shadow: none;
            }
        }
    }
}

.content {
    .gsc-control-cse {
        .gsc-refinementsArea, .gsc-above-wrapper-area {
            .gsc-refinementHeader, .gsc-option-menu-container {
                font-size: $base-font-size * 0.8;
                font-family: $header-font;
            }
        }
    }
}