/**
 * _scald.scss
 * This covers styles for Scald media items
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
.atom-align-right, .atom-align-left {
    margin: 1em;
}

.page-atom {
    .galleria-container {
        position: relative;
        left: 25%;
    }
}

.dnd-atom-wrapper.type-file {
    display:inline-block;
    .dnd-legend-wrapper {
        display: none;
    }
    span.ext{
        display:inline-block;
    }
}

.dnd-atom-wrapper {
    &.context-original {
        margin: 0;
        padding: 0;
    }
    &.inline, &.context-inline {
        display: inline-block;
    }
    .dnd-legend-wrapper {
        &:empty {
            display: none;
        }
    }
}