@import "mixins";
/**
 * _style
 * This covers general styles for the theme
 * applicable across every display resolution.
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
body {
    font-family: $base-font-family;
    background: -moz-linear-gradient($gradient-start, $gradient-end);
    /* FF 3.6+ */
    background: -ms-linear-gradient($gradient-start, $gradient-end);
    /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $gradient-start), color-stop(100%, $gradient-end));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient($gradient-start, $gradient-end);
    /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient($gradient-start, $gradient-end);
    /* Opera 11.10 */
    /* IE8+ */
    background: linear-gradient($gradient-start, $gradient-end);
    a {
        color: $primary-color;
        &:hover {}
        &:visited {
            color: #551A8B;
            text-decoration: underline;
        }
        img {
            border: 0;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $header-font;
        letter-spacing: normal;
    }
    h1, h2.node-title {
        font-size: $h1-font-size;
        margin: 2px 0 $h1-font-size / 1.5 0;
    }
    h2 {
        font-size: $h2-font-size;
        margin: $h2-font-size 0 $h2-font-size / 1.5 0;
    }
    h3 {
        font-size: $h3-font-size;
        margin: $h3-font-size / 2 0;
    }
    h4 {
        font-size: $h4-font-size;
        margin: $h4-font-size / 2 0;
    }
    h5 {
        font-size: $h5-font-size;
        margin: $h5-font-size / 2 0;
    }
    h6 {
        font-size: $h6-font-size;
        margin: $h6-font-size / 2 0;
    }
    code {
        font-size: 11px;
    }
    td, th, table {
        margin: auto;
        padding: auto;
        border: 0;
        &.views-table {
            td {
                vertical-align: top;
            }
            caption {
                text-align: left;
                margin-top: 1em;
                font-weight: bold;
                color: $primary-color;
            }
        }
    }
    /*a, p, ul, ol, li, img, span, strong, em, div{
        font-size: $base-font-size;
    }*/
    ul li ul {
        margin: 0;
        padding: 0;
    }
    /*tr:hover td,tr.even:hover td.active,tr.odd:hover td.active {
        background: transparent;
    }*/
    #dev_indicators {
        position: fixed;
        top: 180px;
        left: 10px;
        z-index: 190;
    }
    ul.action-links a {
        line-height: 30px;
        padding-left: 15px;
    }
    .equal-height-element > div {
        height: 100%;
    }
    .field-group-htab {
        .fieldset-legend {
            display: none;
        }
    }
    .material-button{
        @include material_button;
    }
    .node {
        background-color: white;
        &.node-nodeblock {
            background-color: transparent;
        }
        .two-column {
            display: table;
            vertical-align: top;
            .column {
                display: table-cell;
                vertical-align: top;
                &.right {
                    text-align: right;
                }
            }
        }
        .galleria-info {
            a {
                color: #fff;
            }
        }
        .field-name-field-node-styles {
            visibility: hidden;
        }
    }
    .node-unpublished .node-title {
        color: red;
    }
    .node-unpublished .node-title:after {
        content: " (draft)";
    }
    .responsive-svg{
        /* To use this, you must put the svg in a container element called
        responsive svg, and assign the following inline styles to it:
        width: percentage
        padding-top: (viewport-height / viewport-width) * percentage;
        More info: http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
        */
        /* create positioning context for svg*/
        position: relative;
        /* collapse the container's height */
        height: 0;
        margin: auto;
        img, svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    }
    .server-info-block{
        border: 1px dotted $primary-color;
        border-bottom: 0;
        border-radius: .5em .5em 0 0;
        padding: .5em;
        color: #900;
        font-size: ($base-font-size / 1.4);
        display:block;
    }
    .zone {
        background-color: transparent;
    }
}

/** Omega specific **/
div[class*='region-preface-'], div[class*='region-header-'], div[class*="region-user-"] {
    min-height: 1px;
}

/** Global mobile styles **/

body.responsive-layout-mobile {
    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
        margin-left: 0;
        margin-right:0;
    }
}

/* Include all other partials here. */
@import "branding";
@import "components";
@import "content";
@import "content_type_training_class";
@import "footer";
@import "gcal";
@import "glyphs";
@import "gsc";
@import "menu";
@import "navbar";
@import "ntrp";
@import "scald";
@import "sidebars";
@import "superfish";
@import "tables";
@import "toc";
@import "views_slideshow";