/**
 * This covers general styles for the theme 
 * applicable across every display resolution.
 */
@import "../mar";
@import "global/style";

/** Mar "become a member" nodeblock */
#block-nodeblock-11847 {
    float: right;
}

/** Slideshow */
.views_slideshow_cycle_main.views_slideshow_main.viewsSlideshowCycle-processed {
    font-size: 1.25em;
}