/**
 * _funding_award.scss
 * This covers styles for funding award items that are 
 * applicable when the display resolution is "narrow".
 * (The exact meaning of that term is defined by the theme, and is 
 * subject to change).
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/*body.responsive-layout-narrow{
  article.node-funding-award{
    .group-award-particulars{
      float: right;
      background-color: $tertiary-color;
      border: darken($tertiary-color, 50%);
      width: 40%;
      margin: 2em 1em 1em 1em;
      border-radius: 5px;
      padding: 3px;
    }
  }
}
*/